In [3]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\pasca\onedrive\desktop\paccydem\lp1_indian_startup_ecosystem\environmnt\lib\site-packages (2.1.2)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\pasca\onedrive\desktop\paccydem\lp1_indian_startup_ecosystem\environmnt\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\pasca\onedrive\desktop\paccydem\lp1_indian_startup_ecosystem\environmnt\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\pasca\onedrive\desktop\paccydem\lp1_indian_startup_ecosystem\environmnt\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pasca\onedrive\desktop\paccydem\lp1_indian_startup_ecosystem\environmnt\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\pasca\onedrive\desktop\paccydem\lp1_indian_startup_ecosystem\environmnt\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pyodbc #just installed with pip
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings
 
warnings.filterwarnings('ignore')

In [3]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')
# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

In [4]:
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [5]:
connection = pyodbc.connect(connection_string)

In [6]:
query = "Select * from dbo.LP1_startup_funding2020"
year2020 = pd.read_sql(query, connection)
year2020.head(14)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
5,qZense,2019.0,Bangalore,AgriTech,qZense Labs is building the next-generation Io...,"Rubal Chib, Dr Srishti Batra","Venture Catalysts, 9Unicorns Accelerator Fund",600000.0,Seed,None
6,MyClassboard,2008.0,Hyderabad,EdTech,MyClassboard is a full-fledged School / Colleg...,Ajay Sakhamuri,ICICI Bank.,600000.0,Pre-series A,None
7,Metvy,2018.0,Gurgaon,Networking platform,AI driven networking platform for individuals ...,Shawrya Mehrotra,HostelFund,NaN,Pre-series,None
8,Rupeek,2015.0,Bangalore,FinTech,Rupeek is an online lending platform that spec...,"Amar Prabhu, Ashwin Soni, Sumit Maniyar","KB Investment, Bertelsmann India Investments",45000000.0,Series C,None
9,Gig India,2017.0,Pune,Crowdsourcing,GigIndia is a marketplace that provides on-dem...,"Aditya Shirole, Sahil Sharma","Shantanu Deshpande, Subramaniam Ramadorai",1000000.0,Pre-series A,None
10,Slurrp Farm,2016.0,Gurgaon,Food & Bevarages,Slurrp Farm is a children health food brand.,Meghana Narayan,Fireside Ventures,2000000.0,Series A,None
11,Medfin,2017.0,Bangalore,HealthTech,Medfin is a Discovery platform for medical pro...,"Arjun Kumar, Arun Kumar, Sidharth Gurjar","Axilor Ventures, S.D. Shibulal",NaN,Series A,None
12,MasterG,2015.0,New Delhi,Fashion startup,MasterG is a design and skill development orga...,Gayatri Jolly,Acumen Fund's angel programme,NaN,None,None
13,Brila 91,2014.0,New Delhi,Food & Bevarages,Bira 91 is a craft beer company.,Ankur Jain,"Sequoia Capital India, Sixth Sense Ventures",1200000.0,None,None

In [38]:
year2020.to_csv("startup_funding2020.csv")

In [7]:
year2020.shape

(1055, 10)

In [8]:
query2 = "Select * from dbo.LP1_startup_funding2021"
year2021 = pd.read_sql(query2, connection)

year2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [25]:
#concatenated_data1 = pd.concat([data,data2])
#concatenated_data1.to_csv('data_from_sql_server(2020-2021)')
#concatenated_data1
#df = pd.read_csv("data_from_sql_server(2020-2021)")

In [9]:
year2019 = pd.read_csv("startup_funding2019.csv")
year2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [10]:
year2018 = pd.read_csv("startup_funding2018.csv")
year2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

# Hypothesis : Sector and Funding Amount

* Null Hypothesis (H0): The sector in which a startup operates has no significant impact on the amount of funding it receives.   
*  Alternative Hypothesis (H1): Certain sectors are associated with higher levels of funding compared to others.

# Questions
1. Which sectors have received a higher amount of funding each year ?
2. which are top 10 companies that have received the most funds, as well as the bottom 10 with the minimum funding and what are their headquaters? 
3. How are the companies distributed across different funding stages?
4. is there a trend or partners in fundings across the year ?
5. which stage is likely to receive funds

# Data Understanding(exploratory data analysis (EDA))

In [11]:
import pandas as pd
import matplotlib.pyplot as plt                 # import libraries to be used
import seaborn as sns

    1. Load the Dataset start from year2018

In [31]:
year2018.shape()

TypeError: 'tuple' object is not callable

In [12]:
year2018.tail(15)             #  View few rows of the dataset:

,Company Name,Industry,Round/Series,Amount,Location,About Company
511,Dream11,"Fantasy Sports, Mobile, Sports",Series D,100000000,"Mumbai, Maharashtra, India",Dream11 is India’s Biggest Sports Game with 30...
512,srJna,Education,Seed,—,"Jaipur, Rajasthan, India","SRJNA is a brand of Elation Edtech Pvt. Ltd., ..."
513,Nykaa,"Beauty, Fashion, Wellness",Secondary Market,"₹1,130,000,000","Mumbai, Maharashtra, India",Nykaa.com is a premier online beauty and welln...
514,Chaayos,"Food and Beverage, Restaurants, Tea",Series B,"₹810,000,000","New Delhi, Delhi, India",Chaayos was born in November 2012 out of this ...
515,Heelium,"Fitness, Sporting Goods, Sports",Seed,—,"Pune, Maharashtra, India",Heelium is an athletic footwear and wearable s...
516,LT Foods,"Food and Beverage, Food Processing, Manufacturing",Post-IPO Equity,"₹1,400,000,000","New Delhi, Delhi, India",LT Foods believe that nature will continue to ...
517,Multibashi,"E-Learning, Internet",Seed,"₹10,000,000","Bengaluru, Karnataka, India",Free language learning platform.
518,Cleardekho,"Eyewear, Internet",Venture - Series Unknown,—,"Ghaziabad, Uttar Pradesh, India",Uttar Pradesh based online eyewear marketplace.
519,Dailyhunt,"Information Technology, Mobile, News, Operatin...",Series E,6000000,"Bangalore, Karnataka, India",NewsHunt is a Bangalore based eBooks company.
520,SlicePay,"FinTech, Internet, Payments, Service Industry",Series A,14900000,"Bengaluru, Karnataka, India",SlicePay is an AI based instant credit app for...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [13]:
year2018.info()          # Get a summary of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [15]:
year2018.describe().T

,count,unique,top,freq
Company Name,526,525,TheCollegeFever,2
Industry,526,405,—,30
Round/Series,526,21,Seed,280
Amount,526,198,—,148
Location,526,50,"Bangalore, Karnataka, India",102
About Company,526,524,"TheCollegeFever is a hub for fun, fiesta and f...",2

In [16]:
year2018.nunique()   # Number of unique that we have in each column

Company Name     525
Industry         405
Round/Series      21
Amount           198
Location          50
About Company    524
dtype: int64

In [19]:
year2018["Round/Series"].unique()

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance', 'Funding Round'], dtype=object)

In [22]:
year2018["Amount"].unique()            # in this coulumn we have different currrency

array(['250000', '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '$1,000,000,000', '$7,000,000', '$35,000,000',
       '₹550,000,000', '$28,500,000', '$2,000,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '$30,000,000', '₹2,500,000,000',
       '$23,000,000', '$150,000', '$11,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '$900,000', '$10,000,000', '$1,500,000',
       '₹70,000,000', '$1,000,000', '$5,000,000', '$14,000,000',
       '₹102,500,000', '$100,000,000', '₹1,200,000', '₹5,200,000,000',
       '$800,000', '$1,041,000', '$100,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '$40,000,000', '$1,100,000',
       '$50,000,000', '₹1,540,000,000', '$3,000,000', '$6,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$200,000', '$3,300,000', '₹580,000,000', '₹36,000,000',
       '₹340,000,000', '$210,000,000', '$37,680,000', '$250,000',
       '$20,000', '₹510,000,000', '₹2,200,000,000', '22000000', '70000',
       '10000000', '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

In [26]:
year2018.sort_values(by="Amount").head(20)           # sorting in ascending order

,Company Name,Industry,Round/Series,Amount,Location,About Company
380,CashRich,"Apps, Financial Services, FinTech",Seed,"$1,000,000","Mumbai, Maharashtra, India",A Mumbai-based fin-tech startup
143,MyNewCar.in,"Automotive, E-Commerce",Venture - Series Unknown,"$1,000,000","Gurgaon, Haryana, India",MyNewCar.in offers new cars at best price with...
400,BhaskarGuru,Search Engine,Seed,"$1,000,000","Bhopal, Madhya Pradesh, India",Bhaskarguru.com is your local search Engine
101,Swiggy,"Food Delivery, Food Processing, Internet",Series H,"$1,000,000,000","Bangalore, Karnataka, India",Swiggy is a food ordering and delivery company...
160,ION Energy,"Energy, Energy Storage, Infrastructure",Venture - Series Unknown,"$1,041,000","Mumbai, Maharashtra, India",A stealth startup building a layer of infrastr...
353,Square Off,"Internet of Things, Robotics",Seed,"$1,100,000","Mumbai, Maharashtra, India",Delivering Imagination
361,Freyr Energy,"Energy, Environmental Consulting, Renewable En...",Series A,"$1,500,000","Hyderabad, Andhra Pradesh, India",Freyr Energy is a company that provides full s...
355,Hospals,"Medical, Tourism",Seed,"$1,500,000","New Delhi, Delhi, India",Hospals is a medical tourism company.
138,Wow Venue,Events,Venture - Series Unknown,"$1,500,000","Mumbai, Maharashtra, India",Wow Venue is an online platform.
95,AuthMetrik,"B2B, Biometrics, Cyber Security, Fraud Detecti...",Grant,"$10,000","Gurgaon, Haryana, India","SaaS, B2B, Security, Stop account sharing, Fra..."
349,Wicked Ride Adventure Services Private Limited,"Automotive, Last Mile Transportation, Peer to ...",Venture - Series Unknown,"$10,000,000","Bangalore, Karnataka, India",Peer-to-Peer motor vehicles sharing
135,Roposo,"Internet, Social Network, TV",Series C,"$10,000,000","Gurgaon, Haryana, India",Roposo - TV by the People is a unique social m...
367,Paymatrix,"Credit Cards, Payments, Property Insurance, Pr...",Seed,"$100,000","Hyderabad, Andhra Pradesh, India",India's Leading Property Rent management platform
161,UnoTag,Artificial Intelligence,Pre-Seed,"$100,000","Bangalore, Karnataka, India",SaaS to verify counterfeit
385,TECHBOOZE,Education,Seed,"$100,000","New Delhi, Delhi, India","Techbooze[1] ""AN OPEN FORUM"" is an educational..."
162,CivilCops,"Government, Information Technology, Software",Pre-Seed,"$100,000","Gurgaon, Haryana, India",Gov-Tech
148,OYO,"Hospitality, Hotel, Leisure, Travel",Series E,"$100,000,000","Gurgaon, Haryana, India",OYO is an Indian hospitality startup that oper...
372,Stelis Biopharma,Biopharma,Series B,"$100,000,000","Bangalore, Karnataka, India",Stelis Biopharma is a vertically integrated bi...
360,Drivezy,"Automotive, Rental, Sharing Economy",Debt Financing,"$100,000,000","Bengaluru, Karnataka, India",Drivezy is India's largest vehicle sharing pla...
392,Spinny,"E-Commerce, E-Commerce Platforms, Internet, Re...",Series A,"$11,000,000","Gurgaon, Haryana, India",Used cars marketplace in India. Ushering new e...

In [30]:
unique_counts = year2018["Amount"].value_counts()
unique_counts

Amount
—              148
1000000         24
500000          13
2000000         12
₹50,000,000      9
              ...
2200000          1
1200000          1
$15,000          1
$1,041,000       1
35000000         1
Name: count, Length: 198, dtype: int64

In [33]:
year2018.shape

(526, 6)

In [32]:
year2018[year2018.duplicated()]

,Company Name,Industry,Round/Series,Amount,Location,About Company
348,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."

# check for null variable

In [53]:
year2018.isnull().sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

# change of Amount column into string

In [59]:
year2018.dtypes

Company Name     object
Industry         object
Round/Series     object
Amount           object
Location         object
About Company    object
dtype: object